# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ipython checkpoints
**/.ipynb_checkpoints/
**/__pychae__/

# Data larger than 100MB
**/fhv/data/road_osm.*
**/fhv/data/education_institution/*
